:root {
    --black:#1F2E55;
    --h1:22px;
    --grey:#717FA6;
    --p:16px;
    --medium:15px;
    --price:14px;
    --blue:#382AE1;
    --link:13px;
    --subscription-bg:#F7F9FF;
    --anim-blue:#766CF1;

}